form .input-group {
    margin: 5px;
}

#frmProblem .form-control {
    width: 415px;
}

.mylabel {
    width: 222px;
    text-align: left;
}



footer {
    margin-top: 122px;
}

.error {
    color: red;
    padding: 3px;
    
}